@charset "UTF-8";


	#header{
		background: red;
		width: 900px;
		height: 200px;
	}
	#left{
		background: yellow;
		width: 300px;
		height: 600px;
		float: left
	}
	#contents{
		background: green;
		width: 600px;
		height: 600px;
		float: left
	}
	#footer{
		background: pink;
		width: 900px;
		height: 200px;
		clear: both;
	}
