@charset "UTF-8";

#nav {
	height: 80px;
	text-align: center;
}

#logo {
	clear: none;
	margin-left: 550px;
	margin-top: 10px;
	/* margin: 10px auto; */
	color: white;
	font-size: 40px;
}

#search {
	margin-top: 30px;
	margin-right: 30px;
}

#img {
	margin-left: 200px;
	width: 700px;
	height: 400px;
}

#ww{
	width: 200px;
	height: 200px; 
}

.wrap{
		width: 250px;
		float: left;
		border: 1px solid gray;
		padding: 20px;
		margin: 20px;
}